body{
    background-color: #121212;
    color: white;
}
h1{
    font-family: "Cinzel", serif;
    margin-top: 20px;
    font-size: 48px;
    margin-left: 20px;
}
p{
    font-family: "EB Garamond", serif;
    font-size: 18px;
    margin-left: 40px;
}

.protagonist{
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 100%;
    float: left;
}

.intro{
    font-family: "EB Garamond", serif;
    font-size: 18px;
    margin-top: 30px;
    float: left;
}
.video1{
    max-width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}
.maelle{
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 100%;
    float: left;
}
.sophie{
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 100%;
    float: right;
}

p.sophie{
    text-align: center;
    font: "Cinzel", serif;
    font-size: 48px;
}
p.maelle{
    text-align: center;
    font: "Cinzel", serif;
    font-size: 48px;
}

@media (min-width: 320px) and (max-width: 600px) {
    .intro{
        margin-left: 0;
    }
    .protagonist{
        float: none;
        margin: 10px auto;
        display: block;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .video1 {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
}
@media (min-width: 481px) and (max-width: 1200px) {
    h1 {
        font-size: 32px;
        margin-left: 10px;
    }
}
@media (min-width: 1600px) {
    .protagonist{
        width: 200px;
    }
}
}